@model nbaDemo.DTOs.Responses.TeamListResponse

<h3>The team below is going to be deleted.</h3>
<div>
    <h4>TeamListResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
            <img src="@Model.Logo" class="img-fluid"/>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferenceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferenceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DivisionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DivisionID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
