@model nbaDemo.DTOs.Responses.PlayerListResponse

@{
    ViewData["Title"] = "Delete";
}

<h3>The player below is going to be deleted.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastAttended)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastAttended)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JerseyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JerseyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImage)
            <img src="@Model.ProfileImage" class="img-fluid"/>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionID)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
