@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Transient vs Singleton vs Scoped</h1>
</div>

<p><b><u>Transient:</u></b> <br />Transient Instance 1: @ViewBag.transient1 <br /> Transient Instance 2: @ViewBag.transient2</p>
<hr />
<p><b><u>Singleton:</u></b><br />Singleton Instance 1: @ViewBag.singleton1 <br /> Singleton Instance 2: @ViewBag.singleton1</p>
<hr />
<p><b><u>Scoped:</u></b> <br />Scoped Instance 1: @ViewBag.scoped1 <br /> Scoped Instance 2: @ViewBag.scoped2</p>

